.Ruled{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: auto;
    padding: 5px;
    width: 95%;
    height: 90%;
}
.Left{
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    width:60%
}

.box{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 8px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    background-color:#EDEFF4;
    margin-bottom:15px;
    width:100%;
}

.Right{
    padding: 5px;
    box-sizing: border-box;
    width:40%
}

.Button{
    margin-top:10px;
}

h1 {
    font-size:30px;
	padding:5px;
    color: purple;
	background-color:#f1fe76;
}

.questText{
    font-size:18px;
	padding:5px;
    color: black;
}

ul {
    list-style-type: circle;
    margin: 10px;
    padding: 10px;
    width:95%;
}

li{
    padding: 5px;
}

label{
    font-size: 18px; 
    padding:5px;
     
}

.Select{
    width:180px;
    height:25px;
    font-size: 18px;
}


@media (max-width: 800px){
    .Ruled{
        padding: 1px;
        display: flex;
        flex-direction: column;
    }
    .Left{
        padding: 5px;
    } 
    .Right{
        padding: 5px;
    }
    h1 {
        font-size:16px;
    }
}