.MenuHeader{
    height:45px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px;
    box-sizing: border-box;
    z-index: 30;
}

.button {
    background-color: #aeb2b4; /* Green */
    border: none;
    border-radius: 50%;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }